!!!
%html
  %head
    %title Story Mapper
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  %body
    #navigation
      %ul
        %li#sign_in Sign In
        %li= link_to "Projects", projects_path
    
    #content  
      = yield
